body {
    background-color: lightcyan;
  }
  
  h1 {
    color: rgb(190, 255, 230);
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    background-color: darkgrey;
  }

  h3 {
    color: black;
    text-align: center;
    font-family: monospace;
    font-size: 35px;
  }
  
  h4 {
    color: black;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
  }

  p {
    color: black;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
  }

table.table1 {
    width:50%;
  }

tr.tr1 {
    background-color: lightgray;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

tr.tr2 {
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

td {
    padding: 10px;
}

th {
    padding: 10px;
}

table {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

a.item1:hover {
    color: red;
}

a.item2:visited {
    color: gray;
}

a.item3:active {
    color: orange;
}

p.randomparagraph {
    color: black;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

img.img1 {
    width:5%;
    height:2%; 
    border-width: 5px; 
    border-color: red; 
    border-style: dashed; 
    padding: 30px;
}

img.img2 {
    width:150pt;
    height:150pt; 
    border-width: 5px; 
    border-color: red; 
    border-style: dashed;
    padding: 30px;
}

img.img3 {
    width:2in;height:2in; 
    border-width: 5px; 
    border-color: red; 
    border-style: dashed; 
    padding: 30px;
}